:root {
  --primary: #FFF;
  --secondary: #582727;
  --tertiary: #FF0000;
  --quatrinary: #8E7064;
  --light: #BCB9B9;
  --dark: #171717;
  --error: #FF00FF;
  --translucent: rgba(255,255,255,0.95);
  --transducent: rgba(255,255,255,0.92);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', 'Roboto';
  font-weight: 400;
  line-height: 1.5;
  font-size: 20px;
  color: var(--dark);
  background-color: #f3fffee1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat Alternates', 'Roboto', sans-serif;
  font-weight: 700;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  color: var(--primary);
}

nav a {
  padding: 6px 10px;
  margin: 0 15px;
  color: var(--primary);
  transition: all 0.2s;
}

nav a:hover {
  color: var(--dark);
  background-color: var(--tertiary);
}

footer {
  background-color: var(--secondary);
  padding-top: 20px;
}

footer img {
  width: 100%;
}

.footer-info {
  align-items: center;
  color: var(--primary);
  text-align: center;
}

.footer-1 p {
  font-size: 0.9rem;
}

.bottom-footer {
  font-size: 2rem;
  color: var(--light);
  background-color: var(--dark);
  padding: 0 5%;
}

.page-title {
  text-align: center;
  width: 100%;
  margin: 0;
  font-size: 2.5rem;
}

.btn,
.pill {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  margin: 5px 0;
  border-radius: var(--border-radius);
  border: none;
  color: var(--primary);
  outline: none;
  background-color: var(--secondary);
  transition: all 0.5s;
}

.btn:hover,
.pill:hover {
  /* color: var(--secondary); */
  color: var(--quatrinary);
  background-color: var(--dark);
}

.btn-inline {
  display: inline;
}







.app-container {
  background-image: url(./assets/images/appBG.jpg);
  /* background-size: 100% 100%; */
  overflow: hidden;
}
.nav-container {
  position: absolute !important;
  top: 8px;
  right: 0px;
}
.hero-text {
  color: var(--light);
  margin: 120px 0 80px 0;
}
.hero-text p {
  font-size: 2.1rem;
  margin: 0;
  font-family: 'Roboto, Montserrat Alternates';
  color: var(--primary);
}
.hero-text h1 {
  font-size: 5rem;
  margin: 0 0 15px 0;
  line-height: 1;
}
.hero-button {
  display: inline-block;
  padding: 12px 0;
  background-color: var(--tertiary);
  border-radius: 5px;
}
.hero-button a {
  padding: 12px 150px;
  color: var(--primary);
  font-weight: 600;
}
.hero-button a:hover {
  color: var(--light);
}
.body-content {
  background-color: var(--translucent);
  box-shadow: 10px 10px 50px #171717;
  border-radius: 15px;
  margin: 100px 0;
  padding: 30px 10px;
}
.body-descrip {
  width: 60%;
  text-align: right;
  padding: 100px 0;
}
.descrip-item {
  font-size: 36px;
  font-weight: bolder;
  color: var(--secondary);
}
.body-display {
  width: 40%;
}
.body-display img {
  width: 80%;
}
.fretlist-container,
.builder-container {
  margin: 80px 0;
}


.fretlist-container h2,
.builder-container h2 {
  font-size: 6rem;
  text-align: center;
  color: var(--light);
  margin-bottom: 80px;
  line-height: 1em;;
}
.card-header {
  color: var(--dark);
}
.card-body {
  display: flex;
  height: 300px;
}
.info-wrap {
  padding: 1.25rem;
}
.thumb-wrap img {
  width: 85px;
}








.builder-box {
  border-radius: 15px;
  background-color: var(--transducent);
}
.user-selection {
  position: relative;
  height: 100%;
  max-width: 275px;
  min-width: 275px;
}
.user-selection img {
  position: absolute;
  height: 100%;
  max-width: 275px;
  min-width: 275px;
}
.user-selected {
  background-repeat: repeat;
  position: absolute;
  max-width: 275px;
  min-width: 275px;
  height: 100%;
  border-radius: 15px;
}
.builder-controls {
  width: 70%;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
}
.search-mod {
  margin-bottom: 75px;
  }
.search-mod h3 {
  font-size: 4rem;
  text-align: center;
}
.search-mod input {
  width: 100%;
  border: 2px solid var(--secondary);
  border-radius: 10px;
  }
.search-container {
  position: relative;
  height: 40px;
}
.user-input {
  position: absolute;
  height: 100%;
}
.search-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  right: 0;
  padding: 10px;
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 5px;
}
.search-button:hover {
background-color: var(--tertiary);
cursor: pointer;
}
.display-mod {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  border: 1px solid;
  margin-bottom: 35px;
  justify-content: space-around;
}
.display-mod .row {
  height: 200px;
}
.image-choice-item {
  display: flex;
  padding: 10px;
  margin: 10px;
  width: 180px;
  max-width: 220px;
  height: 180px;
  overflow: hidden;
  justify-content: center;
  border: 2px solid var(--secondary);
}
.image-choice-item img {
  max-width: 100%;
  transition: all .2s ease-in-out;
}
.image-choice-item img:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.form-mod input,
.form-mod textarea,
.form-mod button {
margin-bottom: 35px;
border-style: unset;
border: 2px solid var(--secondary);
border-radius: 5px;
}
.form-mod textarea {
  height: 225px;
  }
.builder-form {
  display: flex;
  flex-direction: column;

}


.no-match {
  color: var(--primary);
}
.no-user {
  color: var(--primary);
}

.thumb-display {
  width: 75px;
}
.thumb-container {
  position: relative;
  height: 100%;
}
.thumb-container img {
  height: 100%;
}
.thumb-background {
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
}




.my-frets-container .fretlist-container {
  background-color:var(--light);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.my-frets-container .fretlist-container h2 {
  color: var(--dark);
  margin: 0;
  padding: 30px;
}
.no-creation {
  text-align: center;
  color: var(--light);
  margin-bottom: 30px;
  font-size: 4rem;
}
.single-fret-container {
  background-color: var(--primary);
  margin-bottom: 50px;
}
.feedback-container {
  flex-direction: column;
  height: 100%;
}
.feedback {
  display: flex;
  margin: 0 10px;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.feedback a {
  color: var(--light);
  border-top: 1px solid var(--primary);
}
.feedback-title {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: block;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feedback-counter {
  text-align: center;
}
.feedback-form textarea {
  width: 75%;
  height: 125px;
  margin-bottom: 20px;
}
.feedback-button {
  width: 75%;
  margin-bottom: 20px;
}

@media screen and (max-width: 992px) {
  .nav-item {
    padding: 6px 4px;
    font-size: 14px;
  }
  .fretlist-container h2, .builder-container h2, .hero-text h1 {
    font-size: 4rem;
    word-wrap:  break-word;
  }
  .body-display img {
    height: 600px;
  }
  .descrip-item {
    font-size: 32px;
  }
  .user-selection {
    max-width: 200px;
    min-width: 200px;
}
  .user-selected {
    max-width: 200px;
    min-width: 200px;
  }
  .user-selection img {
    max-width: 200px;
    min-width: 200px;
  }
  .builder-controls {
    margin: 20px;
  }
  .search-mod {
    margin-bottom: 30px;
  }
  .search-mod h3 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .display-mod {
    height: 300px;
    margin-bottom: 15px;
  }
  .image-choice-item {
    width: 100px;
    height: 100px;
  }
  .form-mod {
    font-size: 14px;
  }
  .form-mod textarea {
    height: 150px;
  }
  .footer-info {
    flex-direction: column;
  }
  .footer-2 img {
    width: 50%;
  }
}